body {
    background-color: #eeeeee;
}
header {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 15px 20px;
}
#titulo{
    margin: 0px 0px 15px 0px;
}
#menuPrincipal {
    background-color: #444444;
}
nav ul {
    list-style: none;
    padding: 0px;
}
#menuPrincipal ul li {
    display: inline;
    margin: 0px 15px;
}
.enlacemenuPrincipal {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
}
.tituloSeccion {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
}
article {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 0px 0px 20px 0px;
}